@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #dc3545;
$dark-color: #333333;
$accent-color: #666666;
$light-color: #f4f4f4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #cccccc;
  outline: none;
  margin-bottom: .5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;

}
